<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="MyCustomConfigSection" type="HowToUseCustomConfiguration.MyCustomConfigSection, HowToUseCustomConfiguration"/>
    </configSections>
    <MyCustomConfigSection TextValue="This is text value" NumericValue="8520" DateValue="7/7/1977 07:07:07" >
        <NestedElement TextValue="Nested text #1" NumericValue="1"/>
    </MyCustomConfigSection>
</configuration>